# Descriptive Statistics

## Functions in Pandas
**min(), max(), mode(), median(), mean(), std() any(), all(), Count(), Clip(), Rank(), Round()...**

In [2]:
import pandas as pd

In [7]:
ratings = pd.read_csv("./movielens/ratings.csv")

In [8]:
ratings['rating'].describe()

count    100004.000000
mean          3.543608
std           1.058064
min           0.500000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [9]:
ratings['rating'].mean()

3.543608255669773

In [12]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [10]:
ratings.mean()

userId       3.470113e+02
movieId      1.254866e+04
rating       3.543608e+00
timestamp    1.129639e+09
dtype: float64

In [14]:
ratings["rating"].max()

5.0

In [15]:
ratings["rating"].min()

0.5

In [16]:
ratings["rating"].std()

1.0580641091073735

In [17]:
ratings["rating"].mode()

0    4.0
dtype: float64

## Correlation

In [18]:
ratings.corr()

             userId   movieId    rating  timestamp
userId     1.000000  0.007126  0.010467  -0.035072
movieId    0.007126  1.000000 -0.028894   0.514742
rating     0.010467 -0.028894  1.000000  -0.038996
timestamp -0.035072  0.514742 -0.038996   1.000000

In [25]:
filter_1 = ratings['rating'] > 5
print(filter_1)
filter_1.any()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
99974     False
99975     False
99976     False
99977     False
99978     False
99979     False
99980     False
99981     False
99982     False
99983     False
99984     False
99985     False
99986     False
99987     False
99988     False
99989     False
99990     False
99991     False
99992     False
99993     False
99994     False
99995     False
99996     False
99997     False
99998     False
99999     False
100000    False
100001    False
100002    False
100003    False
Name: rating, Length: 100004, dtype: bool

False

In [26]:
filter_1 = ratings['rating']>0
print(type(filter_1))
filter_1.any()

<class 'pandas.core.series.Series'>

True

In [29]:
filter_2 = ratings['rating'] > 3
print(filter_2)
filter_2.all()

0         False
1         False
2         False
3         False
4          True
5         False
6         False
7         False
8          True
9         False
10        False
11        False
12         True
13         True
14        False
15        False
16        False
17        False
18        False
19        False
20         True
21         True
22         True
23         True
24         True
25        False
26        False
27         True
28        False
29         True
          ...
99974      True
99975      True
99976      True
99977      True
99978      True
99979      True
99980      True
99981      True
99982      True
99983      True
99984     False
99985     False
99986     False
99987      True
99988      True
99989      True
99990     False
99991      True
99992      True
99993      True
99994      True
99995      True
99996      True
99997      True
99998     False
99999     False
100000     True
100001     True
100002    False
100003     True
Name: rating, Length: 100004, dtype: bool

False