# String Operations

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "_key1" : ["k0", "K1", "K2", "K3"],
    "_key2" : ["z0", "z1", "z2", "z3"],
    "city" : ["city_0", "city_1", "city_2", "city_3"],
    "user_name" : ["user_0", "user_1", "user_2","user_3"],
    "hire_date" : ["d_0", "d_1", "d_2", "d_3"],
    "profession": ["p_0", "p_1", "p_2", "p_3"]
    
})
df

  _key1 _key2    city hire_date profession user_name
0    k0    z0  city_0       d_0        p_0    user_0
1    K1    z1  city_1       d_1        p_1    user_1
2    K2    z2  city_2       d_2        p_2    user_2
3    K3    z3  city_3       d_3        p_3    user_3

In [3]:
df["city"].str.split("_")

0    [city, 0]
1    [city, 1]
2    [city, 2]
3    [city, 3]
Name: city, dtype: object

In [4]:
df["city"].str.replace("_","##")

0    city##0
1    city##1
2    city##2
3    city##3
Name: city, dtype: object

In [24]:
df['city'].str.extract("([a-z]\w{0,})",expand = False)

0    city_0
1    city_1
2    city_2
3    city_3
Name: city, dtype: object

In [18]:
df['city'].str.extract("(\d)", expand = False)

0    0
1    1
2    2
3    3
Name: city, dtype: object

**http://pandas.pydata.org/pandas-docs/stable/text.html**

In [26]:
movies = pd.read_csv("./movielens/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Split 'generes' into multiple columns

In [30]:
movie_genres = movies['genres'].str.split('|', expand = True)
movie_genres.head()

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None

### Add a new column for comedy genre flag

In [33]:
movie_genres['isComedy'] = movies['genres'].str.contains('Comedy')
movie_genres.head()

,0,1,2,3,4,5,6,7,8,9,isComedy
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None,True
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None,False
2,Comedy,Romance,None,None,None,None,None,None,None,None,True
3,Comedy,Drama,Romance,None,None,None,None,None,None,None,True
4,Comedy,None,None,None,None,None,None,None,None,None,True

### Extract year from title e.g.(1995)

In [35]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*', expand = True)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

**http://pandas.pydata.org/pandas-docs/stable/text.html**